body { 
    margin: 0; 
    padding: 0; 
    min-height: 100vh;
    font-family: Arial, sans-serif;

}
.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 950px; /* Высота фона (подбирай под свою верстку) */
    background: url('2.jpg') no-repeat center center fixed;
    background-size: cover;
    z-index: -1; /* Отправляем его на задний план */
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px 0;
}

.nav-content {
    display: flex;
    justify-content: center;
    max-width: 985px;
    margin: 0 auto;
    background-color: #60677B;
}

.nav-btn {
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    transition: all 0.3s ease;
    font-size: 16px;
    white-space: nowrap;
    border: 1px solid white;
    border-left: none;
    background-color: transparent;
    position: relative;
}

.nav-btn:first-child {
    border-left: 1px solid white;
}

.nav-btn:hover {
    color: #FFB09F;
}
